@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBodyDark {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom left,
    #0f2027,
    #203a43,
    #2c5364
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top right,
    #0f2027,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.input {
  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  color: #000;
  text-align: center;
}

.was-success {
  color: #26b023;
}
.was-failure {
  color: #b02336;
}
.content.dark {
  background-color: rgba(255, 255, 255, 0.2);
}
